databases:
  - name: job-board-db
    plan: free
    postgresMajorVersion: 15

services:
  - type: web
    name: job-board-backend
    env: docker
    rootDir: backend
    plan: free
    autoDeploy: true

    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: job-board-db
          property: connectionString

      - key: DJANGO_SETTINGS_MODULE
        value: config.settings

      - key: SECRET_KEY
        generateValue: true

      - key: DEBUG
        value: false
